<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HSF可视化配置，这个标题其实是没用的</title>
  <link rel="stylesheet" href="../lib/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
  <style>
    html,
    body {
      height: 100%;
    }

    .form-container {
      /*card的左右padding各20*/
      width: 340px;
      margin: 100px auto;
      overflow: hidden;
    }

    .el-form-item {
      width: 300px;
    }

    .el-form-item__label {
      color: #31e0ed !important;
    }

    .el-card {
      position: relative;
    }

    .close {
      position: absolute;
      right: 20px;
      font-size: 16px;
      color: #aaa;
      cursor: pointer;
      z-index: 9999;
    }
  </style>
</head>

<body>
  <div id="app" class="container-fluid">
    <div class="form-container">
      <el-card>
        <div class='close' @click='closeLoginBox'>
          <i class="el-icon-close"></i>
        </div>
        <el-form ref="loginForm" :model='loginForm' :rules='rules' size="small" style="width:300px;">
          <el-form-item label="请选择服务器" prop='region'>
            <el-select v-model="loginForm.region" placeholder="请选择活动区域">
              <el-option label="杏花春雨" value="xinghua"></el-option>
              <el-option label="杨柳晓风" value="yangliu"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账号" prop='username'>
            <el-input v-model="loginForm.username"></el-input>
          </el-form-item>
          <el-form-item label="密码" prop='password'>
            <el-input v-model="loginForm.password" :type='passwordType'>
              <i slot="suffix" :class="iconType" @click="showPwd" style="cursor: pointer;"></i>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" :loading='loading' @click="onSubmit('loginForm')" style="width:100%;">登录</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </div>

  </div>
  <script src="../lib/vue-2.5.17/vue.js"></script>
  <script src="../lib/element-ui/lib/index.js"></script>
  <script>
    const testMode = false; // 为true时可以在浏览器打开不报错
    const vscode = testMode ? {} : acquireVsCodeApi();
    const callbacks = {};

    function callVscode(data, cb) {
      if (typeof data === 'string') {
        data = { cmd: data };
      }
      if (cb) {
        // 时间戳加上5位随机数
        const cbid = Date.now() + '' + Math.round(Math.random() * 100000);
        callbacks[cbid] = cb;
        data.cbid = cbid;
      }
      vscode.postMessage(data);
    }

    window.addEventListener('message', event => {
      const message = event.data;
      switch (message.cmd) {
        case 'vscodeCallback':
          (callbacks[message.cbid] || function () { })(message.data);
          delete callbacks[message.cbid];
          break;
        default: break;
      }
    });

    new Vue({
      el: '#app',
      data() {
        return {
          passwordType: 'password',
          projectName: '加载中',
          loading:false,
          loginForm: {
            region: '',
            username: '',
            password: ''
          },
          rules: {
            region: [
              { required: true, message: '请选择一个区', trigger: 'change' }
            ],
            username: [
              { required: true, message: '账号名不能为空', trigger: 'blur' }
            ],
            password: [
              { required: true, message: '请输入密码', trigger: 'blur' }
            ],
          }
        }
      },
      computed: {
        iconType() {
          return this.passwordType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'
        }
      },
      mounted() {
      },
      watch: {
      },
      methods: {
        closeLoginBox() {
          callVscode({ cmd: 'close' }, null)
        },
        // 模拟alert
        alert(info) {
          callVscode({ cmd: 'alert', info: info }, null);
        },

        onSubmit(formName) {
          this.$refs[formName].validate((valid) => {
            this.loading=true
            if (valid) {
              callVscode({ cmd: 'onSubmit' }, () => {
                this.loading=false
                this.alert('登录成功！');
              })
            } else {
              this.loading=false
              return false;
            }
          })
        },
        showPwd() {
          if (this.passwordType === 'password') {
            this.passwordType = ''
          } else {
            this.passwordType = 'password'
          }
        }
      }
    });
  </script>

</body>

</html>